services:
  web:
    build: .
    volumes:
      - .:/srv/jekyll
    ports:
      - "4000:4000"
      - "35729:35729" # LiveReload port
    environment:
      - JEKYLL_ENV=development
    stdin_open: true
    tty: true
