---
layout: default
title: Welcome to Web Regenerative Agriculture
---

{% include navbar.html %}

<header class="hero-section pb-5">
  <div class="container">
    <h4 class="text-center my-3">Healthy Planet, healthy produce, healthy people!</h4>
    <div class="row align-items-center mb-3">
      <div class="col-lg-4">
        <img src="images/web_regen_logo.jpg" class="img-fluid rounded shadow" alt="Web Regenerative Agriculture Logo">
      </div>
      <div class="col-lg-8">
        <p class="lead text-muted">
          A small family farm in Summit UT. We do bees &amp; sell produce using innovative techniques focused on soil health.
          We don’t use "-icides". We thrive on inclusivity, interdependence &amp; building a web of connections
          between customers, farmers &amp; the soil.
        </p>
        <div class="d-flex align-items-start mt-5 p-3 bg-white rounded shadow-sm">
          <p class="logo-text mb-0 italic">
            "To us the web represents the connections we see throughout all forms of life.
            Our logo always connects in 17 places which represents the 17 essential nutrients
            necessary to sustain plant life and in-turn all life on this planet.
            These 17 essential nutrients are something that connects everyone!"
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

{% include footer.html %}
