<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">Web Regenerative Agriculture</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ '/our-practices.html' | relative_url }}">Our Practices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/what-we-grow.html' | relative_url }}">What we grow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/bees.html' | relative_url }}">Bees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/life-on-the-farm.html' | relative_url }}">Life on the farm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/future-of-the-farm.html' | relative_url }}">Future of the farm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/how-to-reach-us.html' | relative_url }}">How to reach us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
