<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Web Regenerative Agriculture</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/our-practices.html">Our Practices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/what-we-grow.html">What we grow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bees.html">Bees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/life-on-the-farm.html">Life on the farm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/future-of-the-farm.html">Future of the farm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/how-to-reach-us.html">How to reach us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
